.card {
  max-height: 100%; 
  max-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  margin: 3rem 4rem;
  padding: 1rem;
  box-shadow: $box-shadow;
  background-color: $white-color;
  z-index: 10;

  img {
    max-width: 40%; 
  }

  section {
    margin-left: 1rem;
    a:hover {
      text-decoration: underline;
    }
  }

  @include respond-to("small") {
    flex-direction: column;
    margin: 1.5rem 1.5rem;

    img {
      aspect-ratio : 5 / 4;
      max-width: 100%;
      width: 100%;   
      max-height: 50%;
      object-fit: cover;
    }

    section { 
      margin-left: 0; 
      margin-top: 1rem; 
    }
  }
}
