// colors
$white-color : #fff;
$off-white-color: #f9f9f9; 
$grey-color: #d3d3d3; 
$tangerine-color: #f28500;
$indigo-color: #281e5d;
$navy-color: #202a44;

$header-bg-transparency: 0.8;

$box-shadow: 0 0 10px 0 rgba($navy-color, 0.5); 