canvas {
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: $off-white-color;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  header {
    background-color: rgba($white-color, $header-bg-transparency);
    box-shadow: $box-shadow;
    z-index: 10;
  }

  footer {
    position: relative;
    bottom: 0;
    background-color: $white-color;
    box-shadow: $box-shadow;
    z-index: 10;
  }
}
