* {
  margin: 0;
  padding: 0;
  z-index: inherit;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  background-color: $off-white-color;
}

body {
  margin: 0 auto;
  max-width: 960px;
  height: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: $navy-color;
  background-color: $grey-color;
}

a {
  color: $navy-color;
  text-decoration: none;
}

ul {
  list-style: none;
}
