.container {
  position: relative;
  margin: 0 0.66rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  z-index: 10;
  background-color: $off-white-color;
  justify-content: space-between;

  header {
    display: flex;
    flex-direction: column;
    box-shadow: $box-shadow-10px;

    canvas {
      position: absolute;
      top: 0;
      left: 0;
    }

    .header-upper {
      display: flex;
      background-color: rgba($off-white-color, $container-bg-transparency);

      a {
        margin-top: 1.3rem;
        margin-left: 2rem;
        margin-bottom: 1.3rem;
        h1 {
          text-align: left;
          line-height: 1;

          span {
            display: block;
          }
        }
      }
    }

    .header-lower {
      background-color: $off-white-color;

      .nav-container {
        display: flex;
        justify-content: space-between;
        border-top: 0.1rem solid $grey-color;
        margin: 0 1rem;

        .nav-menu {
          display: flex;
          align-items: center;
          margin: 0.3rem 0;

          li a {
            width: 6rem;
            height: 3rem;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            margin-right: 0.3rem;
            font-weight: 600;

            &:hover {
              background-color: $off-white-color;
              transform: scale(1.05);
              transition: background-color 0.3s, transform 0.3s;
              box-shadow: $box-shadow-5px;
            }
          }
        }

        .social-icons {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          margin-right: 1rem;
        }
      }
    }
  }

  main {
    display: flex;
    position: relative;
    margin: 3rem 3rem;
    box-shadow: $box-shadow-10px;
    align-items: center;

    height: 400px;

    img {
      height: 100%;
    }

    section {
      padding: 1rem;
    }
  }

  footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $navy-color;
    box-shadow: $box-shadow-10px;

    p {
      color: $off-white-color;
      margin: 1.5rem 0;
    }
  }
}
